/* Welcome to my CSS stylesheet for the Assignment */
    * {
        box-sizing: border-box;
        }

    .skip {
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden;
            background-color: #000066;
            color:white;
            }

        .skip:focus {
            position: absolute;
            left:auto;
            top:auto;
            width: auto;
            height: auto;
            padding:8px;
            }
    body {
            background-color:#e6edf5;
            font-family: "Calibri", "Arial", serif;
            font-size:18px;
            margin:0px;
        }    
    
    header { grid-area:header; }
    nav {    grid-area: nav;
            padding:0px;
             }
    main { grid-area: main; }
    footer { grid-area: footer; }

 /*  Nav link styling including states  */   
    nav ul 
        {
            padding:0px;
            margin:0px;
            list-style-type:none;
            display:flex;
            justify-content:space-around;
        }


    nav a
        {
            display:block;
            text-decoration:none;
            padding: 16px 8px;
            color:#000066;
            border-bottom:1px solid rgb(174, 178, 231); 
            transition: background-color 0.4s ease-out,
                  border-radius 1s ease,
                  color 2s ease-in-out,
                  font-size 3s ease-out;
        }

    nav a:hover
        {
          background-color:#e6edf5;
          color:rgb(0, 0, 0);
        }

     a:focus, .buttonPrimary:focus, .buttonSecondary:focus
        {
            outline: 2px solid black;  
        }

    nav a:active
        {
            background-color:rgb(182, 182, 248);
        }
        
    /* End nav link styling */
   

    #wrapper
        {   
        padding: 0px 16px;
        min-height: 100vh; 
        background-color: white;
        margin-left:auto;
        margin-right:auto;
        display:grid;
        grid-template-rows: 60px auto auto auto;
        background-color:white;
        gap: 16px;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
        }

    header
        {   
            padding-top:16px;
            display:flex;
            justify-content: center;
        }

    #siteLogo
        {
            height:60px;
            margin-left:auto;
            margin-right:auto;
        }
    
    header a:focus
        {
            outline: 2px solid black;
            border-radius:2px;
        }


    h1, h2, h3
        {
            margin:0px;
            font-family:"Georgia", serif;
            font-weight: 500;
        } 
    h1    
        {
            font-size:28px;   
        }

    h2
        {
            font-size:24px;
        }

    h3  
        {
            font-size:20px;
            font-weight:600;
        }

    .introText
        {
           margin-top:24px 
        }

    .buttonPrimary, .buttonSecondary
        {
            transition: background-color 0.2s ease-out,
                box-shadow 0.5s ease-out,
                color 0.3s ease-in-out;
        }

    .buttonPrimary
        {
            padding:16px 16px;
            background-color: #000066;
            color:white;
            font-size:18px;
            text-align:center;
            border-radius:8px;
            width:fit-content;
            margin-left:auto;
            margin-right:auto;
            text-decoration:none;
            border:0px;
        }

    .buttonPrimary:hover
        {
            background-color: #414188;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
        }

    .buttonPrimary:active
        {
            background-color: #000066;
            box-shadow: 0px;
        }

    .buttonSecondary
        {
            padding:16px 16px;
            background-color: #c6c6fc;
            color:rgb(0, 0, 0);
            font-size:18px;
            text-align:center;
            border-radius:8px;
            width:fit-content;
            margin-left:auto;
            margin-right:auto;
            text-decoration:none;
            border:0px;
        }

    .buttonSecondary:hover
        {
            background-color: #d2d2fd;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
        }

    .buttonSecondary:active
        {
            background-color: #c6c6fc;
            box-shadow: 0px;
        }

    .cardGroup
        {
          display:grid;
          gap:16px;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

            .photoCircle
        {
            max-width:140px;
            float:left;
            border-radius:50%;
            margin-right:16px;
            margin-bottom: 16px;
            transition: transform 0.3s ease-out, 
                  background-color 0.5s linear,
                  border-radius 1s ease,
                  border 0.2s ease-out,
                  box-shadow 0.3s ease-out,
                  color 2s ease-in-out,
                  font-size 3s ease-out;
        }

        .photoCircle:hover
        {
            transform: scale(1.05);
            box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
        }


    #content
        {
            display:flex;
            flex-direction:column;
            gap: 24px;
            padding-top:16px;
        }

/*  Table CSS start */
    #tableSection
        {   
            display:flex;
            flex-direction:column;
            gap:24px;
        }

    table
        {
            margin: auto;
            border: 1px solid #e2e2e2;  
            border-radius: 8px;
            width: 100%;
            border-spacing: 1;
        }

    td, th
        {
            padding: 4px 8px;
            text-align:left
        }

      thead tr:first-of-type {
            background-color: #e6edf5;
            color: black;
        }

        tbody tr th
        {
            width: 25%;
        }

    tbody tr:nth-of-type(even) 
        {
            background-color:#e6edf5;
        }

           
    tfoot 
        {
        background-color: #cee3fc;
        font-weight: bold;
        text-align: center;
        height: 48px;
        }

 /*  Table CSS end */


 /*    YouTube CSS start */

.videoContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*    YouTube CSS end */


/*    Gallery CSS start */

 .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 24px;
    }

    .gallery img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      transition: transform 0.3s ease, 
                  box-shadow 0.3s ease;
      cursor: pointer;
    }

    .gallery img:hover {
      transform: scale(1.01);
      box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    }

/*    Gallery CSS ends  */


 /*  Form CSS start */

   label 
        {
            padding: 10px;
            display: block;
        }

    input, textarea
        {
            display:block;
            margin-top:6px;
        }

    textarea
        {
            display:block;
            margin-top:4px;
            min-width:300px;
        }

    input[type="checkbox"]
        {
            display:inline;
        }

    fieldset
        {
            margin: 24px 0px;
        }

/* Form CSS ends */

footer
        {
            border-top:1px solid rgb(133, 133, 133);
            margin-top:40px;
            padding:40px 0px;
        }

#footerLinks ul
        {
            display:flex;
            list-style-type: none;
            padding: 4px;
            border:0px;
            text-decoration: underline;
            color:blue;
            margin: 24px 0px;
            gap:24px;
        }


    


/* Tablet breakpoint */
@media (min-width: 450px)
	{
      body
        {
            margin:0px 24px;
            max-width: 1142px;
            margin-left:auto;
            margin-right:auto;
        }

      #wrapper
        {
            padding:0px 24px;
            grid-template-rows: 96px auto auto auto;

        }

        #siteLogo
        {
            height:80px
        }

        #content
        {
            gap: 32px;
        }

        .cardGroup
        {
            gap: 24px;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
         }

        .photoCircle
        {
            float: none;
            margin-left:auto;
            margin-right:auto;
            max-width:240px;
        }

	}

/* Desktop breakpoint */

@media (min-width: 840px)
	{
      body
        {
            margin:0px 24px;
            max-width: 1140px;
            margin-left:auto;
            margin-right:auto;
        }

      #wrapper
        {
            margin:0px 24px;
            display:grid;
            grid-template-rows: 160px auto auto;
            grid-template-columns: 140px auto;
            background-color:white;
            gap: 24px;
            grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
        }

        nav ul
            {
                flex-direction:column;
            }
            
        #siteLogo
            {
                height:120px;
            }

        .cardGroup
            {
            gap: 24px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            }

        .photoCircle
            {
                max-width:100%;
            }

    }

	